.conteiner {
    display: -webkit-inline-box;
  
}
.navegador {
    background-color: blue;
    width: 20%;
    height:100vh;
    list-style: none;
    text-align: center;
    padding-top: 200px;
      

}

.conteudo{
    margin-top: 200px;
    width: 80%;   
    text-align: center;
    align-items: center;
    align-content: center;

}

img{
    width: 200px;
    height: 200px;
    border-radius: 100px;
    border: 2px solid #fff;
}
.icon{
    
    width: 50px;
    height: 50px;
    padding-left: 50px;
}

li{
    margin-top: 30px;
    
}

a {
    color: snow;
    text-decoration: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
h1{
    color: blue;
}
span{
    color: black;
}
h2{
    width: 100%;
}
.email{
    color: blue;
}